<div id="<%= dom_id auto %>">
<table class="table table-striped">
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
      <%= link_to auto.brand, auto %>
      
      </td>
      <td><%= auto.models_name %></td>
      <td><%= auto.desc %></td>
      <td><%= auto.user_id %></td>
    </tr>
  </tbody>
</table>

</div>
